<link rel="import" href="/polymer/polymer.html">
<link rel="import" href="/components/another-component/another-component.html">

<dom-module id="example-component">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <h1>Example</h1>
        <p>This is an example almost empty component</p>
        
        <another-component></another-component>

    </template>
    <script>
        Polymer({
            is: 'example-component'
        });
    </script>
</dom-module>